<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "https://csprofkgd.github.io/#person",
  "name": "Konstantinos G. Derpanis",
  "alternateName": [
    "Konstantinos Derpanis",
    "Konstantinos (Kosta) Derpanis",
    "Kosta Derpanis",
    "Kosta G. Derpanis"
  ],
  "givenName": "Konstantinos",
  "additionalName": "G.",
  "familyName": "Derpanis",
  "jobTitle": "Associate Professor",
  "affiliation": {
    "@type": "CollegeOrUniversity",
    "name": "York University",
    "url": "https://www.yorku.ca/"
  },
  "worksFor": {
    "@type": "CollegeOrUniversity",
    "name": "York University",
    "url": "https://www.yorku.ca/"
  },
  "department": {
    "@type": "Organization",
    "name": "Department of Electrical Engineering and Computer Science",
    "url": "https://www.eecs.yorku.ca/"
  },
  "url": "https://csprofkgd.github.io/",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "https://csprofkgd.github.io/"
  },
  "sameAs": [
    "https://scholar.google.com/citations?user=3Br8x_gAAAAJ&hl=en",
    "https://dblp.org/pid/39/253.html",
    "https://www.linkedin.com/in/kosta-derpanis-a07824122/",
    "https://x.com/CSProfKGD",
    "http://www.eecs.yorku.ca/~kosta"
  ],
  "knowsAbout": [
    "Computer Vision",
    "Deep Learning",
    "Machine Learning",
    "Artificial Intelligence",
    "Generative AI",
    "Generative Modeling",
    "Video Understanding",
    "Representation Learning",
    "Interpretability"
  ],
  "memberOf": [
    {
      "@type": "Organization",
      "name": "Vector Institute"
    },
    {
      "@type": "Organization",
      "name": "ELLIS"
    }
  ],
  "image": "https://csprofkgd.github.io/assets/img/prof_pic.jpg"
}
</script>
