<div class="publications">
  <h2>selected publications (see Google Scholar for full list)</h2>

  <div class="row">
    <div class="col-sm-2 abbr"><span class="publication-badge">ICML</span></div>
    <div class="col-sm-8">
      <div class="title">Universal sparse autoencoders: Interpretable cross-model concept alignment</div>
      <div class="author">Harrish Thasarathan, Julian Forsyth, Thomas Fel, Matthew Kowal, and <em>Konstantinos G. Derpanis</em></div>
      <div class="periodical"><em>In International Conference on Machine Learning (ICML)</em> 2025</div>
      <div class="links">
        <a href="https://arxiv.org/abs/2502.03714" class="btn btn-sm z-depth-0" role="button" target="_blank">Abs</a>
        <a href="https://arxiv.org/pdf/2502.03714" class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 abbr"><span class="publication-badge">CVPR</span></div>
    <div class="col-sm-8">
      <div class="title">Visual concept connectome (VCC): Open world concept discovery and their interlayer connections in deep models</div>
      <div class="author">Matthew Kowal, Richard P. Wildes, and <em>Konstantinos G. Derpanis</em></div>
      <div class="periodical"><em>In Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition</em> 2024</div>
      <div class="links">
        <a href="https://arxiv.org/abs/2404.02233" class="btn btn-sm z-depth-0" role="button" target="_blank">Abs</a>
        <a href="https://arxiv.org/pdf/2404.02233" class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 abbr"><span class="publication-badge">CVPR</span></div>
    <div class="col-sm-8">
      <div class="title">Understanding video transformers via universal concept discovery</div>
      <div class="author">Matthew Kowal, Achal Dave, Rares Ambrus, Adrien Gaidon, <em>Konstantinos G. Derpanis</em>, and Pavel Tokmakov</div>
      <div class="periodical"><em>In Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition</em> 2024</div>
      <div class="links">
        <a href="https://arxiv.org/abs/2401.10831" class="btn btn-sm z-depth-0" role="button" target="_blank">Abs</a>
        <a href="https://arxiv.org/pdf/2401.10831" class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 abbr"><span class="publication-badge">TPAMI</span></div>
    <div class="col-sm-8">
      <div class="title">Quantifying and Learning Static vs. Dynamic Information in Deep Spatiotemporal Networks</div>
      <div class="author">Matthew Kowal, Mennatullah Siam, Md. Amirul Islam, Neil D. B. Bruce, Richard P. Wildes, and <em>Konstantinos G. Derpanis</em></div>
      <div class="periodical"><em>IEEE Transactions on Pattern Analysis and Machine Intelligence</em> 2025</div>
      <div class="links">
        <a href="https://arxiv.org/abs/2211.01783" class="btn btn-sm z-depth-0" role="button" target="_blank">Abs</a>
        <a href="https://arxiv.org/pdf/2211.01783" class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 abbr"><span class="publication-badge">IJCV</span></div>
    <div class="col-sm-8">
      <div class="title">Position, padding and predictions: A deeper look at position information in CNNs</div>
      <div class="author">Md. Amirul Islam, Matthew Kowal, Sen Jia, <em>Konstantinos G. Derpanis</em>, and Neil D. B. Bruce</div>
      <div class="periodical"><em>International Journal of Computer Vision</em> 2024</div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 abbr"><span class="publication-badge">ECCV</span></div>
    <div class="col-sm-8">
      <div class="title">PolyOculus: Simultaneous Multi-view Image-based Novel View Synthesis</div>
      <div class="author">Jason J. Yu, Tristan Aumentado-Armstrong, Fereshteh Forghani, <em>Konstantinos G. Derpanis</em>, and Marcus A. Brubaker</div>
      <div class="periodical"><em>In European Conference on Computer Vision</em> 2024</div>
      <div class="links">
        <a href="https://arxiv.org/abs/2402.17986" class="btn btn-sm z-depth-0" role="button" target="_blank">Abs</a>
        <a href="https://arxiv.org/pdf/2402.17986" class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2 abbr"><span class="publication-badge">ECCV</span></div>
    <div class="col-sm-8">
      <div class="title">Watch your steps: Local image and scene editing by text instructions</div>
      <div class="author">Ashkan Mirzaei, Tristan Aumentado-Armstrong, Marcus A. Brubaker, Jonathan Kelly, Alex Levinshtein, <em>Konstantinos G. Derpanis</em>, and Igor Gilitschenski</div>
      <div class="periodical"><em>In European Conference on Computer Vision</em> 2024</div>
      <div class="links">
        <a href="https://arxiv.org/abs/2308.08947" class="btn btn-sm z-depth-0" role="button" target="_blank">Abs</a>
        <a href="https://arxiv.org/pdf/2308.08947" class="btn btn-sm z-depth-0" role="button" target="_blank">PDF</a>
      </div>
    </div>
  </div>
</div>
